.small-font{
    font-size: medium;
}

.top-cont{
    /* width: 60% !important; */
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 21px -9px rgba(245,112,132,0.93);
    -webkit-box-shadow: 0px 0px 21px -9px rgba(245,112,132,0.93);
    -moz-box-shadow: 0px 0px 21px -9px rgba(245,112,132,0.93);
}

.no-red{
    border-radius: 0 !important;
    padding: 0.6em 2em !important;
}

.left-option{
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.right-option{
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.btn-equal-size{
    width: 50%;
}

.btn-outline-secondary {
    background-color: white;
}

.btn-nobg {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;;
}

.top-cont-text{
    color: gray;
}

.more-round{
    border-radius: 12px !important;
}

.fix-dis{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#btn-holder{
    margin-bottom: 10px;
}

.drag-and-drop-con{
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 3px dashed #b3b5d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-height: 158px;
}
.text-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-custom{
    background: #EBEBEA !important;
    border-radius: 10px !important;
}

.lower-font-size{
    font-size: 0.75em !important;
}

.svg-con{
    max-height: 45% !important;
}

.svg{
    height: inherit !important;
    width: inherit !important;
}

.bold{
    font-weight: bold;
}

.btn-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.free-space{
    width: 49% !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.btn-color-theme{
    background: #A9ABD3 !important;
    border-radius: 10px !important;
    color: white !important;
}

.top-space{
    padding-top: 10px !important;
}

.full-width{
    width: 100% !important;
}
.Xlower-font-size{
    font-size: x-small !important;
}
.no-padding .col{
    padding: 0 !important;
}
.auto-margin-top-bottom{
    margin-top: auto !important;
    margin-bottom: auto !important;
}